@import "variables";
@import 'container';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 175%;//28px (quote)
  scroll-behavior: smooth;
  font-family: 'Manrope';
  font-weight: 800;
  background-color: $darkblue;
}
